fastapi~=0.74.1
packaging>=21.3
SQLAlchemy~=1.4.31
sqlmodel~=0.0.6
asyncpg~=0.25.0
aiosqlite~=0.17.0
psycopg2-binary~=2.9.3
alembic~=1.7.6
Werkzeug~=2.0.3
python-multipart~=0.0.5
python-jose[cryptography]
PyYAML~=6.0
python-magic==0.4.25

uvicorn>=0.17.5
